services:
  # frontend:
  #   container_name: frontend
  #   environment:
  #     NODE_ENV: production
  #     API_PROTOCOL: https
  #     API_HOST: backend
  #     API_PORT: 5000
  #   depends_on:
  #     - backend
  backend:
    container_name: backend
    command: >-
      bash -c "bash scripts/prestart.sh &&
      uvicorn api.main:app --host 0.0.0.0 --port 5000 --reload"
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - ALGORITHM = "RS256"
      - PRIVATE_KEY_PATH=/keys/private.pem
      - PUBLIC_KEY_PATH=/keys/public.pem
  redis:
    image: redis
