services:
  # frontend:
  #   container_name: frontend
  #   environment:
  #     NODE_ENV: production
  #     API_PROTOCOL: https
  #     API_HOST: backend
  #     API_PORT: 5000
  #   depends_on:
  #     - backend
  backend:
    container_name: backend
    command: uvicorn api.main:app --host 0.0.0.0 --port 5000 --reload
    ports:
      - "5000:5000"
  redis:
    image: redis
