name: API Quality Control

defaults:
  run:
    shell: bash
    working-directory: ./backend

on:
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches: ["main"]
    paths:
      - "backend/api/**/*.py"
      - "backend/poetry.lock"
      - "backend/pyproject.toml"

permissions:
  contents: read
  pull-requests: write

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Run Tox (lint)
        run: poetry run tox -e lint

  security:
    name: Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Run Tox (security)
        run: poetry run tox -e security

  pytest:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Run Tox (test)
        run: poetry run tox -e test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
